<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://de.bytestore.pvheating/menu.application.title" opened="true">
        <item view="heater_User.list" title="msg://de.bytestore.pvheating.view.user/UserListView.title"/>
        <item view="heater_SettingsView" title="msg://de.bytestore.pvheating.view.settings/settingsView.title"/>
    </menu>

</menu-config>