[Unit]
Description=PV Heating Java Application
After=network.target

[Service]
WorkingDirectory=/home/pvheating/
ExecStart=/usr/bin/java -jar /home/pvheating/PV-Heating.jar
User=pvheating
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pvheating

[Install]
WantedBy=multi-user.target
