Package: pvheating
Version: 1.0.0
Section: misc
Priority: optional
Architecture: all
Maintainer: Jan Heil <jan.heil@byte-store.de>
Description: PV Heating bietet die Möglichkeit, ein Heizelement stufenlos zu regeln. Hierbei wird ein sogenannter SCR (Thyristorensteller) verwendet. Ziel der Software ist es, die Nulleinspeisung zu revolutionieren.
Depends: openjdk-17-jre
