/* Define your styles here */
.card.hover:hover, .gpio:hover {
    background-color: var(--lumo-contrast-10pct);
}

.card, .stats-card, .gpio {
    background-color: var(--lumo-contrast-5pct);
    border-radius: 0.5rem;
}

.stats-card .title, .gpio {
    background-color: var(--lumo-contrast-10pct);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.stats-card .description {
    font-weight: bolder;
    font-size: 0.9rem;
}

.stats-card .value {
    font-weight: bold;
    font-size: 1.5rem;
}

.stats-card.offline {
    background-color: var(--lumo-error-color-50pct);
}

.stats-card.online {
    background-color: var(--lumo-success-color-50pct);
}

.stats-card vaadin-horizontal-layout {
    align-items: center;
}

.pwm {
    background-color: deepskyblue;
}

.analog {
    background-color: yellow;
}

.digital {
    background-color: coral;
}

.spin {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

/**
 * Rotation Keyframes.
 */
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}